<div class="col-sm-6">
    <div class="col-sm-4"><button type="button" class="btn btn-primary" onclick="location.href = '#/';">home</h></button></div>
</div>

<div class="container" >
    <h2>Update {{displaydata.title}} task</h2>
    <form class="form-horizontal" ng-show="show_task" >
        <div class="form-group">
            <label class="control-label col-sm-2" for="title">Title:</label>
            <div class="col-sm-10">
                    <input type="text" class="form-control" id="Title" placeholder="Enter updated title" ng-model="displaydata.title">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Description:</label>
            <div class="col-sm-10">
                <input type="text" name="description" class="form-control" id="description" placeholder="Enter updated description" ng-model="displaydata.discription">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="description">Completed:</label>
            <div class="col-sm-offset-2 col-sm-10">


                    <label><input type="checkbox" name="status" ng-click="updateStatus()" ng-checked="displaydata.STAT == 1 "> Checked if your task is completed</label>

            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" ng-click="updateData()" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    <div class="alert alert-success" ng-show="show_success">
        <strong>Success!</strong> Indicates a successful or positive action.
    </div>
    <div class="alert alert-danger" ng-show="show_failure">
        <strong>oops!</strong> something going wrong.
    </div>

</div>